<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring_react.spring_react.book.BookMapper">

    <!-- 중고도서 전체 목록 -->
    <select id="getBookList"
            resultType="com.spring_react.spring_react.command.BookVO">
        SELECT
            book_id,
            seller_id,
            title,
            seller_name,
            price,
            description,
            status,
            create_at
        FROM book
        ORDER BY create_at DESC
    </select>

    <!-- 중고도서 상세 -->
    <select id="getBookById"
            parameterType="string"
            resultType="com.spring_react.spring_react.command.BookVO">
        SELECT
            book_id,
            seller_id,
            title,
            seller_name,
            price,
            description,
            status,
            create_at
        FROM book
        WHERE book_id = #{id}
    </select>

    <!-- 중고도서 등록 -->
    <insert id="insertBook"
            parameterType="com.spring_react.spring_react.command.BookVO">
        INSERT INTO book (
            seller_id,
            title,
            seller_name,
            price,
            description,
            status
        ) VALUES (
                     #{sellerId},
                     #{title},
                     #{sellerName},
                     #{price},
                     #{description},
                     #{status}
                 )
    </insert>

    <!-- 중고도서 삭제 -->
    <delete id="deleteBook"
            parameterType="string">
        DELETE FROM book
        WHERE book_id = #{id}
    </delete>

</mapper>
