/* BookRegister.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background: white;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

header .right {
    font-size: 14px;
    color: #555;
}

.register-container {
    width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.form-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
}

.image-box {
    width: 250px;
    height: 300px;
    background: #eee;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #777;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 12px;
}

textarea {
    height: 140px;
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background: #c7ecff;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}
